* {
  box-sizing: border-box;
}
/* 打印容器 */
.print-container {
  width: 21cm;
  height: 29.7cm;
  padding: 1.2cm 1.4cm;
  position: relative;
  margin: 0 auto;
}
.print-container table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
.print-container table.border {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.print-container table.border th,
.print-container table.border td {
  border: 1px solid #ccc;
}
.print-container .info-table td,
.print-container .list-table th,
.print-container .list-table td,
.print-container .footer-table td {
  height: 35px;
}
.print-container .head-table {
  margin-bottom: 10px;
}
.print-container .head-table th {
  font-size: 26px;
}
.print-container .info-table {
  margin: 10px 0;
}
.print-container .info-table .key {
  text-align: left;
  width: 10%;
}
.print-container .info-table .value {
  text-align: left;
}
.print-container .list-table {
  margin: 20px 0;
}
.print-container .footer-table {
  text-align: right;
}
@media only print {
  @page {
    margin: 0mm;
  }
  .no-print {
    display: none;
  }
  .print-container {
    margin: 0 auto 0 0;
  }
}
